.intro {
    text-align: center;
    margin-bottom: 48px;

}

.blogRoll {
    display: grid;
    grid-template-columns: repeat(
        auto-fill, 
        minmax(min(400px, 100%), 1fr)
    );
    gap: 80px;
}

/* The "Load save file" subtitle */
.blogRoll > p:first-of-type {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Quantico', 'Open Sans', Helvetica, sans-serif;
    color:hsla(0, 0%, 100%, 0.5);
}

.container {
    border: 1px solid #fff;
    padding: 6px;
    /* width: 100%; */
    background-color: hsl(209, 54%, 15%);
    transition: transform 0.3s ease-out;
    position: relative;
}

.container:hover {
    background-color: hsla(209, 33%, 29%, 1);
    transform: scale(1.05, 1.05);
    border-width: 2px;
}

/* Adds animated cursor to side of hovered blog post */
.container:hover::before {
    --w: 20px;

    content: "";
    position: absolute;
    top: calc(50% - calc(var(--w) / 2));
    left: calc(-8px - var(--w));
    width: 0;
    height: 0;
    border-top: var(--w) solid transparent;
    border-bottom: var(--w) solid transparent;
    border-left: var(--w) solid hsla(0, 0%, 100%, 0.8);

    animation: bounce 0.4s ease-out 0s infinite alternate;
}

@keyframes bounce {
    from {
        margin-left: 0;
    }
    to {
        margin-left: -1rem;
    }
}

.linkToPost {
    text-decoration: none;
}

.content {
    /* Corner border effect */
    --b: 1px;   /* thickness of the border */
    --c: #fff;   /* color of the border */
    --w: 16px;  /* width of border */
    

    border: var(--b) solid transparent; /* space for the border */
    background:
        linear-gradient(var(--c),var(--c)) top left,
        linear-gradient(var(--c),var(--c)) top left,
        linear-gradient(var(--c),var(--c)) bottom left,
        linear-gradient(var(--c),var(--c)) bottom left,
        linear-gradient(var(--c),var(--c)) top right,
        linear-gradient(var(--c),var(--c)) top right,
        linear-gradient(var(--c),var(--c)) bottom right,
        linear-gradient(var(--c),var(--c)) bottom right;
    background-size: var(--b) var(--w),var(--w) var(--b);
    background-origin: border-box;
    background-repeat: no-repeat;

    /* Element content */
    padding: 18px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.coverPhoto {
    min-height: 200px;
    margin-bottom: 24px;
}

.content h3, .title {
    font-family: 'Quantico', 'Open Sans', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0;
}

.title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.content h3 a {
    text-decoration: none;
}

.content h3 a:hover {
    text-decoration: underline;
}

.details {
    font-family: 'Quantico', 'Open Sans', Helvetica, sans-serif;
    margin: 0;
    list-style: none;
    font-size: 0.9rem;
    font-weight: 400;
}

.details li {
    margin-bottom: 0px;
}

.details .field {
    color:hsla(0, 0%, 100%, 0.6);
    display: inline-block;
    width: 80px;
}

.subtitle {
    margin: 0;
}

.gamesContainer {
    border: 2px solid #fff;
    padding: 6px;

    background-color: hsl(209, 33%, 41%);
    transition: transform 0.3s ease-out;
    position: relative;

}

.gamesContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: none;
    padding: 18px;
    min-height: 100%;
}

.canvas {
    display: block;
}

.games {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;

    font-family: 'Quantico', 'Open Sans', Helvetica, sans-serif;
}
