
.container {

}

.post > *:not(:last-child) {
    margin-bottom: 32px;
}

.head ul {
    margin-top: 16px;
}

.head > *:not(:last-child) {
    margin-bottom: 8px;
}

.head h1 {
    margin-bottom: 1rem;
}

.coverPhoto {
    margin-left: -16px;
    margin-right: -16px;
}

.content {
    max-width: 720px;
}

.content p {
    font-size: 1.125rem;
    line-height: 1.4;
}

.content blockquote {
    margin-left: 0;
    padding: 1rem 0 1rem 1.75rem;
    border-left: 2px solid #fff;
}

.content blockquote p {
    display: inline-block;
    position: relative;
    font-size: 1.75rem;
    line-height: 1.17;
    font-family: 'Quantico';
}


/* .content blockquote p::before {
    content: '“';
    font-size: 4rem;
    display: inline-block;
    position: relative;
} */