.headerBanner {
    border: 1px double #fff;
    padding: 4px;
    max-width: 500px;
    margin-bottom: 16px;
}

.headerBanner__content {
    padding: 24px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.headerBanner__content h1 {
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
}

.headerBanner__content div {
    font-family: "Quantico", serif;
    text-transform: uppercase;
}

.headerBanner__content > div > div:hover::before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: -16px;
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 
    border-left: 8px solid #fff; 
}

.headerBanner__content > div > div {
    position: relative;
}

.headerBanner__content div:first-child::before {
    /* content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: -16px;
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 
    border-left: 8px solid #fff;  */
}